
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bevan:ital@0;1&family=Crete+Round:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orelega+One&family=PT+Serif+Caption:ital@0;1&family=Ponomar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #6c4f9194;
  --dark-color: #46156c;
  --light-color: rgb(219, 201, 228);
  --purple-shadow: 0 0 10px #46156c, 0 0 10px #46156c, 0 0 10px #46156c, 0 0 10px #46156c;
  --light-background: #6c4f9137;
  --light-text: rgb(250, 240, 255);
  --header-font: 'Orelega One', cursive;
  --formal-body-font: 'Merriweather', serif;
  --casual-body-font: 'aleo', sans-serif;
}

#app {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 1.5%;
}

p {
  font-family: var(--formal-body-font);
  font-size: 18px;
  color: var(--light-text);
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
